/* Add to your CSS or inside a <style> tag in the <head> */
@font-face {
  font-family: "MinionPro";
  src: url("../NJIT Standard fonts/MinionPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MinionPro";
  src: url("../NJIT Standard fonts/MinionPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

:root {
    --njit-logo-height: 12vw;
    --njit-logo-left-margin: 1rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, .link-button {
  font-family: "MinionPro", Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, .link-button {
  font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #E6F7FF;
}

h1 {
    margin: 0.2em;
}

.width-trim {
    width: 80rem;
    max-width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


header {
    padding: 10px 0;
    background-color: #d22630;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;

    img {
        width: var(--njit-logo-height);
        max-width: 100%;
        height: auto;
        margin-left: var(--njit-logo-left-margin);
    }
    h1 {
        color: white;
        font-size: 2.2rem;
        margin-left: 1.5rem;
    }

}

.header-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70rem;
    max-width: 90vw;
    height: 74px;
}

.njit-header {
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
}

.njit-header-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 7rem;
    width: 70rem;
    max-width: 90vw;
    height: 100%;
}

.link-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    gap: 0.5rem;
}

.link-button {
    background-color: #d22630;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;  
    height: max-content;
    cursor: pointer;
    align-self: center;
    margin-left: auto;  
    width: max-content;
}

.link-button:hover {
    background-color: white;
    color: #d22630;
}
.link-button:active {
    transform: scale(0.95);
}


iframe {
    scrollbar-width: thin;
    border: solid 7px grey;
    margin: 25px;
    height: 70vh;
    width: 100%;
}

footer {
    margin-top: auto;
    width: 100%;
    padding: 20px;
    background-color: #d22630;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    img {
        width: var(--njit-logo-height);
        max-width: 100%;
        height: auto;
        max-width: 153px;
        margin-left: var(--njit-logo-left-margin);
    } 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70rem;
    max-width: 90vw;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-and-info {
    display: flex;
    align-items: center;
}

.footer-left img {
    height: auto;
    margin-right: 20px;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-info {
    display: block;
}

.footer-info p {
    color: white;
    font-size: 1rem;
    margin: 3px 0;
}

.social-media {
    display: flex;
    margin-top: 10px;
}

.social-media a {
    display: block;
    margin-right: 10px;
}

.social-media img {
    width: 32px !important;
    height: auto;
    max-width: none;
}

.footer-right {
    display: flex;
    flex-direction: column;
}

.footer-right-text {
    color: white;
    font-size: 1rem;
    text-align: right;
    margin-block: auto;
}

@media (max-width: 650px) {
    h1 {
        font-size: 1.2rem !important;
    }
    .link-button {
        font-size: 0.8rem; 
    }
    .link-button-container {
        margin-left: auto;
        gap: 0.2rem;
    }
    .link-button {
        padding: 0.2rem 0.3rem;
    }

    .njit-logo-image{
        display: none;
    }
    
}



/* CYBERCORPS STYLE */
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    height: 25%;
    padding: 15px 20px 30px 20px;
    margin-top: auto;
    margin-bottom: auto;

    .link-button{
        border: 3px solid #d22630;
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 10px 20px;
        font-weight: bold;
        background-color: white;
        color: #d22630;
        margin-left: 0;
    }

    .link-button:hover {
    background-color: #d22630;
    color: white;
    }

    .link-button:active {
        transform: scale(0.95);
    }
}
